<h1>Panier</h1>

<table>
	<tr>
		<th>Visuel</th>
		<th>Titre</th>
		<th>Prix unitaire</th>
		<th>Options</th>
	</tr>

<% @cart.items.each do |item| %>

	<tr>
		<td><%= image_tag(item.image_url, size:"100x35", alt:'product'+item.id.to_s, class:'card-img-top')%></td>
		<td><%= item.title %></td>
		<td><%= item.price %>€</td>
    <td><%= link_to "Enlever l'article", item_path(item.id), class:"btn btn-danger", :data => {:confirm => "Sûr?",
              :method => "delete"} %>€</td>
	</tr>

<% end %>

  <tr>
    <td colspan="2"></td>
    <td></td>
    <td><a>"Payer"</a></td>
  </tr>


</table>
